name: Generate Pacman Animation

on:
  schedule:
    # Eksekusi setiap 12 jam
    - cron: "0 */12 * * *"

  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v3

      # 1. Generate pacman-contribution-graph.svg
      - name: Generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: Bobbb00 # <-- GANTI JIKA USERNAME BUKAN Bobbb00

      # 2. Buat direktori 'dist' dan pindahkan file SVG
      - name: Prepare output directory
        run: |
          mkdir dist
          mv pacman-contribution-graph.svg dist/pacman-contribution-graph.svg

      # 3. Push file SVG ke branch 'output'
      - name: Push pacman-contribution-graph.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
